*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

body{
  max-width: 1600px;
}

/* shared style */
a{
  text-decoration: none;
}

ul, ol{
  list-style-type: none;
}

.container{
  width: 71%;
  max-width: 1600px;
  margin: 0 auto;
}

.dwn-btn{
  padding: 19px 17px;
  background-color: #FD6E0A;
  border: none;
  border-radius: 3px;
}

/* MAIN STYLE-- */

/* header style */
header{
  background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3; 
  background-repeat: no-repeat;
  background-position: 25px 38px, bottom right;
}
header nav{
  width: 71%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

header ul{
  display: flex;
  gap: 51px;
}

header nav h2{
  font-size: 45px;
  font-weight: 800;
}

header nav h2 span{
  color: #FD6E0A;
}

header nav ul li a{
  color: #474747;
  font-size: 20px;
}

header nav ul{
  align-items: center;
}

header nav ul li button{
  background-color: #FD6E0A;
  width: 150px;
  height: 65px;
  border: none;
  border-radius: 5px;
}

header nav ul li button:hover{
  background-color: green;
}

header nav ul li button a{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

header section.content{
  margin: 0 82px 11px 186px;
  display: flex;
  align-items: center;
}

header section.content h2{
  margin-bottom: 5px;
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}

header section.content h1{
  margin-bottom: 20px;
  color: #181818;
  font-weight: 700;
  font-size: 85px;
}

header section.content p{
  margin-bottom: 30px;
  padding: 0 160px 0 0;
  color: #757575;
  font-size: 18px;
}

header section.content .dwn-btn{
  margin-right: 30px;
  padding: 19px 17px;
  background-color: #FD6E0A;
  border: none;
  border-radius: 3px;
}

header section.content .dwn-btn:hover{
  background-color: green;
}

header section.content .dwn-btn i{
  margin-right: 5px;
}

header section.content .dwn-btn a{
  color: white;
  font-size: 20px;
}

header section.content .cntc-btn{
  padding: 19px 24px;
  background-color: #FFF8F3;
  border: 1px solid #FD6E0A;
  border-radius: 3px;
}

header section.content .cntc-btn:hover{
  border: 1px solid green;
}

header section.content .cntc-btn i{
  margin-right: 5px;
}

header section.content .cntc-btn a{
  color: #FD6E0A;
  font-size: 20px;
}

header section.content .cntc-btn:hover i, header section.content .cntc-btn:hover a{
  color: green;
}

section.content div.img-area img{
  max-width: 584px;
  vertical-align: middle;
}

/* about section */
section.about{
  padding-top: 130px;
}

div.about-container{
  padding: 115px 145px 147px 168px;
  width: 71%;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #FFF8F3;
  border-radius: 5px;
  text-align: center;
}

.about-container .text-area h2{
  padding-bottom: 30px;
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

.about-container .text-area p{
  padding-bottom: 30px;
  color: #757575;
  font-size: 18px;
}

.about-container .card-area{
  display: flex;
  justify-content: space-around;
}

.about-container .card-area div p{
  color: #757575;
  font-size: 20px;
}

.about-container .card-area div h3 a{
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}
.about-container .card-area div h3{
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}

/* skill area */
section.skill{
  margin-top: 115px;
  margin-bottom: 130px;
}

section.skill .text-area{
  text-align: center;
}

section.skill .text-area h2{
  margin-bottom: 30px;
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

section.skill .text-area p{
  margin: 0 157px 50px 157px;
  color: #757575;
  font-size: 18px;
}

section.skill .card-area{
  display: flex;
  gap: 24px;
}

section.skill .card-area div{
  background-color: #ffffff;
  border-radius: 5px ;
  box-shadow: 0 6px 30px gray;
}

section.skill .card-area div:hover{
  border: 2px solid #FD6E0A;
  transition: 1s ease;
  transform: scale(1.1);
}

section.skill .card-area div figure img{
  padding: 30px 193px 30px 30px;
}

section.skill .card-area div h3, p{
  padding: 0px 33px 30px 30px;
}

section.skill .card-area div h3{
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}

section.skill .card-area div p{
  color: #757575;
  font-size: 16px;
  text-align: left;
}

/* resume section */
section.resume .h2-align h2{
  text-align: center;
  margin-bottom: 100px;
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

section.resume .content .parent{
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

section.resume .education h3{
  margin-bottom: 33px;
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

section.resume .education article h4{
  margin-bottom: 10px;
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}

section.resume .education article h5, h5 a{
  margin-bottom: 20px;
  color: #757575;
  font-size: 18px;
  font-weight: 600;
}

section.resume .education article p{
  padding: 0 47px 27px 0;
  color: #757575;
  font-size: 16px;
}

section.resume .education article hr{
  margin-bottom: 30px;
}

section.resume .experience h3{
  margin-bottom: 33px;
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

section.resume .experience article h4{
  margin-bottom: 10px;
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}

section.resume .experience article h5, h5 a{
  margin-bottom: 20px;
  color: #757575;
  font-size: 18px;
  font-weight: 600;
}

section.resume .experience #article-1 p{
  padding: 0 47px 53px 0;
}

section.resume .experience article p{
  padding: 0 47px 27px 0;
  color: #757575;
  font-size: 16px;
}

section.resume .experience article hr{
  margin-bottom: 30px;
}

section.resume span{
  display: block;
  text-align: center;
}

section.resume .dwn-btn a{
  color: white;
  font-size: 20px;
}

section.resume .dwn-btn i{
  margin-right: 5px;
}