*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */
a{
  text-decoration: none;
}

ul, ol{
  list-style-type: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.dwn-btn{
  padding: 19px 17px;
  background-color: #FD6E0A;
  border: none;
  border-radius: 3px;
}

/* MAIN STYLE-- */

/* header style */
header{
  background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3; 
  background-size: 101px 764px, 680px 450px;
  background-repeat: no-repeat;
  background-position: 25px 38px, bottom right;
}

header nav{
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

header ul{
  display: flex;
  gap: 51px;
}

header nav h2{
  font-size: 45px;
  font-weight: 800;
}

header nav h2 span{
  color: #FD6E0A;
}

header nav ul li a{
  color: #474747;
  font-size: 20px;
}

header nav ul li a:hover{
  color: #FD6E0A;
}

header nav ul{
  align-items: center;
}

header nav ul li button{
  background-color: #FD6E0A;
  width: 150px;
  height: 65px;
  border: none;
  border-radius: 5px;
}

header nav ul li button:hover{
  background-color: green;
}

header nav ul li button a{
  font-size: 20px;
  font-weight: bold;
  color: white;
}

header section.content{
  display: flex;
  align-items: center;
}

header section.content h2{
  margin-bottom: 5px;
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}

header section.content h1{
  margin-bottom: 20px;
  color: #181818;
  font-weight: 700;
  font-size: 85px;
}

header section.content p{
  margin-bottom: 30px;
  padding: 0 160px 0 0;
  color: #757575;
  font-size: 18px;
}

header section.content .dwn-btn{
  margin-right: 30px;
  padding: 19px 17px;
  background-color: #FD6E0A;
  border: none;
  border-radius: 3px;
}

header section.content .dwn-btn:hover{
  background-color: green;
}

header section.content .dwn-btn i{
  margin-right: 5px;
}

header section.content .dwn-btn a{
  color: white;
  font-size: 20px;
}

header section.content .cntc-btn{
  padding: 19px 24px;
  background-color: #FFF8F3;
  border: 1px solid #FD6E0A;
  border-radius: 3px;
}

header section.content .cntc-btn:hover{
  border: 1px solid green;
}

header section.content .cntc-btn i{
  margin-right: 5px;
}

header section.content .cntc-btn a{
  color: #FD6E0A;
  font-size: 20px;
}

header section.content .cntc-btn:hover i, header section.content .cntc-btn:hover a{
  color: green;
}

section.content div.img-area img{
  height: 676px;
  max-width: 584px;
  vertical-align: middle;
}

@media screen and (max-width: 480px) {
  header nav h2{
    font-size: 35px;
  }

  header nav{
    justify-self: center;
    flex-direction: column;
    padding: 20px 0;
    text-align: center;
  }

  header ul{
    align-content: center;
    gap: 20px;
  }

  header nav ul li a{
    font-size: 16px;
  }

  header nav ul li button{
    width: 70px;
    height: 30px;
  }

  header nav ul li button a{
    font-size: 14px;
    font-weight: 600;
  }

  header section.content h2{
    margin-bottom: 0;
    font-size: 30px;
  }

  header section.content h1{
    font-size: 40px;
    margin-bottom: 0;
  }

  header section.content{
    margin: 0 61.6771px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  header section.content p{
    margin-bottom: 20px;
    font-size: 14px;
  }

  section.content div.img-area img{
    width: 100%;
    height: 100%;
  }

  header section.content p{
    padding: 0;
  }

  header section.content .dwn-btn{
    margin: 0 0 15px 0;
    padding: 8px 12px;
  }

  header section.content .dwn-btn a{
    font-size: 16px;
  }

  header section.content .cntc-btn{
    padding: 8px 12px;
  }

  header section.content .cntc-btn a{
    font-size: 16px;
  }

  header {
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-size: 101px 764px, 425px 250px;
    background-repeat: no-repeat;
    background-position: 25px 38px, bottom center;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  header nav h2{
    font-size: 35px;
  }

  header nav{
    justify-self: center;
    flex-direction: column;
    padding: 20px 0;
    text-align: center;
  }

  header ul{
    align-content: center;
    gap: 20px;
  }

  header nav ul li a{
    font-size: 16px;
  }

  header nav ul li button{
    width: 70px;
    height: 30px;
  }

  header nav ul li button a{
    font-size: 14px;
    font-weight: 600;
  }

  header section.content h2{
    margin-bottom: 0;
    font-size: 30px;
  }

  header section.content h1{
    font-size: 40px;
    margin-bottom: 0;
  }

  header section.content{
    margin: 0 61.6771px;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  header section.content p{
    font-size: 14px;
  }

  section.content div.img-area img{
    width: 70%;
    height: 70%;
  }

  header section.content p{
    padding: 0;
  }

  header section.content .dwn-btn{
    margin: 0 0 10px 0;
    padding: 13px 15px;
  }

  header section.content .dwn-btn a{
    font-size: 18px;
  }

  header section.content .cntc-btn{
    padding: 13px 15px;
  }

  header section.content .cntc-btn a{
    font-size: 18px;
  }

  header {
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: 25px 38px, bottom right;
}
}
/* about section */
section.about{
  padding-top: 130px;
}

div.about-container{
  padding: 100px 120px;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #FFF8F3;
  border-radius: 5px;
  text-align: center;
}

.about-container .text-area h2{
  padding-bottom: 30px;
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

.about-container .text-area p{
  padding-bottom: 30px;
  color: #757575;
  font-size: 18px;
}

.about-container .card-area{
  display: flex;
  justify-content: space-around;
}

.about-container .card-area div p{
  color: #757575;
  font-size: 20px;
}

.about-container .card-area div h3 a{
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}

.about-container .card-area div h3{
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  section.about{
    padding-top: 100px;
  }

  div.about-container{
    padding: 40px 40px 40px 40px;
  }

  .about-container .text-area h2{
    padding-bottom: 20px;
  }

  .about-container .text-area p{
    padding: 0 0 50px 0;
  }

  .about-container .card-area{
    flex-direction: column;
    align-items: center;
  }

  .about-container .card-area div p{
    padding: 0;
  }

  .about-container .card-area div h3{
    margin: 5px 0 20px 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  section.about{
    padding-top: 100px;
  }

  div.about-container{
    padding: 40px 40px 40px 40px;
  }

  .about-container .text-area h2{
    padding-bottom: 20px;
  }

  .about-container .text-area p{
    padding: 0 0 50px 0;
  }

  .about-container .card-area{
    flex-direction: column;
    align-items: center;
  }

  .about-container .card-area div p{
    padding: 0;
  }

  .about-container .card-area div h3{
    margin: 5px 0 20px 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about-container .card-area{
    flex-direction: column;
    align-items: center;
  }
}
/* skill area */
section.skill{
  margin-top: 115px;
  margin-bottom: 130px;
}

section.skill .text-area{
  text-align: center;
}

section.skill .text-area h2{
  margin-bottom: 30px;
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

section.skill .text-area p{
  margin: 0 157px 50px 157px;
  color: #757575;
  font-size: 18px;
}

section.skill .card-area{
  display: flex;
  gap: 10px;
}

section.skill .card-area div{
  background-color: #ffffff;
  border-radius: 5px ;
  box-shadow: 0 6px 30px gray;
}

section.skill .card-area div:hover{
  border: 2px solid #FD6E0A;
  transition: 1s ease;
  transform: scale(1.1);
}

section.skill .card-area div figure img{
  padding: 30px 193px 30px 30px;
}

section.skill .card-area div h3, p{
  padding: 0px 33px 30px 30px;
}

section.skill .card-area div h3{
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}

section.skill .card-area div p{
  color: #757575;
  font-size: 16px;
  text-align: left;
}

@media screen and (max-width: 480px) {
  section.skill{
  margin-top: 100px;
  margin-bottom: 100px;
}

  section.skill .card-area{
  flex-direction: column;
  gap: 30px;
}

section.skill .card-area div{
  border-radius: 7px ;
  box-shadow: 0 3px 15px gray;
}


section.skill .card-area div figure img{
  padding-bottom: 10px;
}

section.skill .card-area div h3{
  padding-bottom: 10px;
}

section.skill .card-area div p{
  text-align: justify;
}

 section.skill .text-area p{
  margin: 0;
  padding: 0 0 50px 0;
  text-align: justify;
 }

 section.skill .text-area h2{
  margin-bottom: 20px;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  section.skill .card-area{
  flex-wrap: wrap;
}

section.skill .card-area div figure img{
  padding-bottom: 10px;
}

section.skill .card-area div h3{
  padding-bottom: 10px;
}

section.skill .card-area div p{
  text-align: justify;
}

 section.skill .text-area p{
  margin: 0;
  padding: 0 50px 50px 50px;
  text-align: justify;
 }

 section.skill .text-area h2{
  margin-bottom: 20px;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  section.skill .card-area{
  flex-wrap: wrap;
}

section.skill .card-area div h3{
  padding-bottom: 10px;
}

 section.skill .text-area p{
  margin: 0;
  padding: 0 50px 50px 50px;
 }
}

/* resume section */
section.resume .h2-align h2{
  text-align: center;
  margin-bottom: 100px;
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

section.resume .content .parent{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

section.resume .education h3{
  margin-bottom: 33px;
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

section.resume .education article h4{
  margin-bottom: 10px;
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}

section.resume .education article h5, h5 a{
  margin-bottom: 20px;
  color: #757575;
  font-size: 18px;
  font-weight: 600;
}

section.resume .education article p{
  padding: 0 47px 27px 0;
  color: #757575;
  font-size: 16px;
}

section.resume .education article hr{
  margin-bottom: 30px;
}

section.resume .experience h3{
  margin-bottom: 33px;
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

section.resume .experience article h4{
  margin-bottom: 10px;
  color: #474747;
  font-size: 25px;
  font-weight: 700;
}

section.resume .experience article h5, h5 a{
  margin-bottom: 20px;
  color: #757575;
  font-size: 18px;
  font-weight: 600;
}

section.resume .experience #article-1 p{
  padding: 0 47px 53px 0;
}

section.resume .experience article p{
  padding: 0 47px 27px 0;
  color: #757575;
  font-size: 16px;
}

section.resume .experience article hr{
  margin-bottom: 30px;
}

section.resume span{
  display: block;
  text-align: center;
}

section.resume .dwn-btn a{
  color: white;
  font-size: 20px;
}

section.resume .dwn-btn i{
  margin-right: 5px;
}

section.resume .dwn-btn:hover{
  background-color: green;
}

@media screen and (max-width: 480px) {
  section.resume .h2-align h2{
  margin-bottom: 50px;
}

section.resume .content .parent{
  flex-direction: column;
  gap: 50px;
}

section.resume .education h3{
  margin-bottom: 20px;
}

section.resume .education article p{
  padding-bottom: 20px;
  text-align: justify;
}

section.resume .education article hr{
  margin-bottom: 15px;
}

section.resume .experience h3{
  margin-bottom: 20px;
}

section.resume .experience #article-1 p{
  padding-bottom: 20px;
  text-align: justify;
}

section.resume .experience article hr{
  margin-bottom: 15px;
}

.dwn-btn{
  padding: 13px 15px;
}

section.resume .dwn-btn a{
  font-size: 18px;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  section.resume .h2-align h2{
  margin-bottom: 50px;
}

section.resume .content .parent{
  flex-direction: column;
  gap: 50px;
}

section.resume .education h3{
  margin-bottom: 20px;
}

section.resume .education article p{
  padding-bottom: 20px;
  text-align: justify;
}

section.resume .education article hr{
  margin-bottom: 15px;
}

section.resume .experience h3{
  margin-bottom: 20px;
}

section.resume .experience #article-1 p{
  padding-bottom: 20px;
  text-align: justify;
}

section.resume .experience article hr{
  margin-bottom: 15px;
}

.dwn-btn{
  padding: 13px 15px;
}

section.resume .dwn-btn a{
  font-size: 18px;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
section.resume .content .parent{
  flex-direction: column;
  gap: 50px;
}
}

/* footer area */
section.footer{
  margin-top: 113px;
  background-color: #FFF8F3;
}

section.footer .footer-content{
  padding: 130px 0;
  display: flex;
  justify-content: space-between;
}

.footer-content .div-1 h2{
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

.footer-content .div-1 p{
  padding: 20px 200px 30px 0;
  color: #474747;
  font-size: 16px;
}

.footer-content .div-1 .parent-icon{
  display: flex;
  gap: 24px;
}

.footer-content .div-1 .parent-icon div a{
  color: #FD6E0A;
  font-size: 1.75em;
} 

.footer-content .div-1 .parent-icon div i:hover{
  color: green;
}

.footer-content .div-2 h2{
  margin-bottom: 20px;
  color: #181818;
  font-size: 35px;
  font-weight: 700;
}

.footer-content .div-2 form input{
  margin-bottom: 24px;
  width: 461px;
  height:  64px;
  display: block;
  border: none;
  border-radius: 5px;
}

.footer-content .div-2 form input::placeholder{
  padding: 18px 350px 18px 30px;
  color: #757575;
  font-size: 16px;
}

.footer-content .div-2 form textarea{
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
}

.footer-content .div-2 form textarea::placeholder{
  padding: 18px 350px 18px 30px;
  color: #757575;
  font-size: 16px;
}

.footer-content .div-2 form .sb-btn{
  background-color: #FD6E0A;
  width: 150px;
  height: 64px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.footer-content .div-2 form .sb-btn:hover{
  background-color: green;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  section.footer{
    margin-top: 100px;
  }

  section.footer .footer-content{
    padding: 80px 0 60px 0;
    flex-direction: column;
    gap: 50px;
  }

  .footer-content .div-1 p{
    padding: 10px 0 20px 0;
    text-align: justify;
  }

  .footer-content .div-2 h2{
    line-height: normal;
  }

  .footer-content .div-2 form input{
    width: 100%;
  }

  .footer-content .div-2 form textarea{
    width: 100%;
  }

  .footer-content .div-2 form textarea::placeholder{
    padding: 20px 0 0px 25px;
  }

  .footer-content .div-2 form .sb-btn{
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  section.footer{
    margin-top: 100px;
  }

  section.footer .footer-content{
    padding: 80px 0 60px 0;
    flex-direction: column;
    gap: 50px;
  }

  .footer-content .div-1 p{
    padding: 10px 0 20px 0;
    text-align: justify;
  }

  .footer-content .div-2 h2{
    line-height: normal;
  }

  .footer-content .div-2 form input{
    width: 100%;
  }

  .footer-content .div-2 form textarea{
    width: 100%;
  }

  .footer-content .div-2 form textarea::placeholder{
    padding: 20px 0 0px 25px;
  }

  .footer-content .div-2 form .sb-btn{
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  section.footer .footer-content{
    padding: 80px 0 60px 0;
  }

  .footer-content .div-1 p{
    padding: 10px 120px 20px 0;
    text-align: justify;
  }

  .footer-content .div-2 h2{
    line-height: normal;
  }

  .footer-content .div-2 form input{
    width: 100%;
  }

  .footer-content .div-2 form textarea{
    width: 100%;
  }

  .footer-content .div-2 form textarea::placeholder{
    padding: 20px 0 0px 25px;
  }

  .footer-content .div-2 form .sb-btn{
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
  }
}